

.clearFloat {
  float: none;
}

#bannerText {
  display: block;
  font-size: 2em;
}

.socialMediaBtns {
  text-align: center;
  padding: 2% 2% 2% 2%;
}

.socialMediaBtns a {
  border-radius: 100px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 0.5% 0.5% 0.5% 0.5%;
}

.socialMediaBtns i {
  padding: 2%;
}

.topNav ul {
  list-style: none;
  background: black;
  width: 100vh;
  display: none;
}

#hamburgerMenu:hover ~ ul {
  display: block;
}

.topNav li a {
  display: block;
  padding: 0 20px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 2em;
  height: 2em;
  border-bottom: 1px solid gray;

}

.topNav li:last-child a {
  border-bottom: none;
}

.hamburgerMenu ul {
  display: none;
}
