* {
  box-sizing: border-box;
}

/* Laptops and desktops */
@media all and (min-width: 600px) {
  #hamburgerMenu {
   display: none;
 }

  #hamburgerMenu ~ ul {
    display: block;
  }

  .topNav {
    background-color: #dbe5de;
    color: #dbe5de;
    display: inline;
    height: 30px;
  }

  .topNav ul {
    width: 100%;
    height: 10vh;
  }

  .topNav li {
    display: block;
    background-color: #92ac9c;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    margin: 0px;
    border-bottom: none;
    transition: color 1s;
  }

  .topNav li:hover {
    background-color: white;
    color: #92ac9c;
    height: 10vh;
  }
}
