
body {
  font-family: 'Lato', sans-serif;
}

#hamburgerMenu {
  width: 100vw;
  background-color: #92ac9c;
  color: #dbe5de;
}

p {
  font-size: 1.2em;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

.rows p {
  color: #dbe5de;
  background-color: #92ac9c;
  border-radius: 10px;
  padding: 5% 5% 5% 5%;
  line-height: 1.8em;
  transition: background-color 1s;
  text-align: left;
}

.rows p:hover {
  background-color: #4A4A4A;
}

.mySkillsSection {
  margin: 2% 0 2% 0;
}

.mySkillsSection i {
  width: 33%;
  margin: 0 auto;
  transition: background-color 1s;
}

.skillsIcons {
  margin: 0 auto;
  width: 30%;
  transition: color 1s;
}

.skillsIcons:hover {
  color: #4A4A4A;
}

.clearFloat {
  float: none;
}

#bannerText {
  display: block;
  font-size: 2em;
  margin-left: 5vw;
}

.socialMediaBtns {
  text-align: center;
  padding: 2% 2% 2% 2%;
}

.socialMediaBtns a:hover {
  background-color: #92ac9c;
  color: white;
  cursor: pointer;
}

.socialMediaBtns a {
  border-radius: 100px;
  border: 1px solid #92ac9c;
  color: #92ac9c;
  text-decoration: none;
  padding: 0.5% 0.5% 0.5% 0.5%;
}

.socialMediaBtns i {
  padding: 2%;
}

.topNav ul {
  list-style: none;
  background: #92ac9c;
}

.topNav li a {
  display: block;
  padding: 0 20px;
  color: #dbe5de;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 2em;
  border-bottom: 1px solid #dbe5de;
  cursor: pointer;
}

.topNav li:last-child {
  border-bottom: none;
}

.hamburgerMenu ul {
  display: none;
}

.sectionContent {
  text-align: center;
}

.hide {
  display: none;
}
